{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <form class="big" method="post">
        {% if error %}<em>{{ error }}</em><br><br>{% endif %}
        <label for="username">username:
            <input name="username" id="username" type="text" required>
        </label><br>
        <label for="password">password:
            <input name="password" id="password" type="password" required>
        </label><br>
        <input type="submit" value="log in">
    </form>
    <br>
    <a href="{{ url_for('discord.login', next=next) }}">log in with Discord</a>
{% endblock %}
